body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.active_class {
  color: rgb(16, 87, 240) !important;
  border-bottom: 1px solid rgb(16, 87, 240) !important;
  transition: 0.5s !important;
}

.nav-item a:hover {
  color: #3498db !important;
}

.footer {
  background: #1a75bc;
  color: aliceblue;
  position: relative;
  padding: 20px;
}

.line {
  margin-top: 50px;
}

h4 {
  font-weight: 900px;
  font-size: 18px;
  color: #fff;
}
.links {
  color: #fff !important;
}

.contact_us {
  background: #fff !important;
  box-shadow: 7px 10px 35px rgba(0, 0, 0, 0.2);
  border-radius: 7px !important;
  height: 150px !important;
  color: #3498db;
  padding: 50px !important;
}
.contact {
  background: #3498db !important;
}
.icons {
  text-decoration: none !important;
}

.about_jumbo {
  background-color: #1a75bc !important;
  opacity: 0.8 !important;
}
.card_abt,
.card_abt img {
  height: 400px !important;
}
.jumbo_card {
  margin-top: -100px !important;
}
.dash {
  width: 40px !important;
  height: 5px !important;
  background: #3498db !important;
}
.jumbo_text {
  font-size: 28px !important;
  color: #000;
}
.about_img img {
  width: 570px !important;
  height: 441px !important;
}
.card_shadow {
  box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.2);
}
.blog_link {
  font-size: 24px !important;
  color: #000 !important;
}
/* start service card style */

.serviceHeading {
  text-align: center;
  padding: 100px 0px 50px 0px;
  font-weight: bolder;
}
.card {
  background-color: #f3f9fe;
  margin: 10px;
  padding: 40px;
  border: 1px solid #f3f9fe;
  box-shadow: -7px 12px 25px #e6e6e6;
  border-radius: 10px;
}
.card:hover {
  background-color: #f3f9fe;
  transition-duration: 0.3s;
  box-shadow: 0px;
}
.serviceImage {
  height: 100px;
  width: 100px;
}
.serviceTitle {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
/* end service card style */

/* strat service brand style */
.brandrow {
  border-top: 1px solid #f5f3f0;
  border-bottom: 1px solid #f5f3f0;
  margin: 50px 0px;
  text-align: center;
  padding: 0px 185px;
}
.brand_container {
  margin: 20px;
}
.brandImage {
  height: 70px;
  width: 100px;
}
/* end service brand style */

@media (max-width: 816px) {
  .img-fluid {
    width: 300px !important;
    height: 300px !important;
  }
  .home_text {
    margin-top: -30px !important;
  }
  .home_text > h2 {
    font-size: 14px !important;
  }
  .nav_bg {
    display: block ruby !important;
  }
}

@media (max-width: 430px) {
  .container-fluid img {
    width: 50px !important;
    height: 50px !important;
  }
  .navbar-brand,
  h1 {
    font-size: 24px !important;
  }
  .dropdown {
    display: contents !important;
  }
  /* .nav_bg {
    font-size: 55px !important;
  } */
  .contact_us h2 {
    font-size: 20px !important;
  }
  .contact_us {
    display: -webkit-box;
  }
  .dropdown-btn {
    float: right !important;
  }
  .row {
    display: flex !important;
  }
  .nav_bg {
    justify-content: space-around;
  }
  .nav_bg .btn {
    padding: 5px !important;
    width: 100px !important;
    height: 30px !important;
    font-size: 12px !important;
  }
  .home_img img {
    width: 400px !important;
    height: 300px !important;
  }
  .navbar-brand {
    margin-left: 40px !important;
    margin-right: 80px !important;
  }
}
@media (max-width: 380px) {
  .navbar-brand {
    margin-left: 20px !important;
    margin-right: 60px !important;
  }
}
