body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.active_class {
  color: rgb(16, 87, 240) !important;
  border-bottom: 1px solid rgb(16, 87, 240) !important;
  transition: 0.5s !important;
}

.nav-item a:hover {
  color: #3498db !important;
}

.footer {
  background: #1a75bc;
  color: aliceblue;
  position: relative;
  padding: 20px;
}
.line {
  margin-top: 50px;
}

h4 {
  font-weight: 900px;
  font-size: 18px;
  color: #fff;
}
.links {
  color: #fff !important;
}

.contact_us {
  background: #fff !important;
  box-shadow: 7px 10px 35px rgba(0, 0, 0, 0.2);
  border-radius: 7px !important;
  height: 150px !important;
  color: #3498db;
  padding: 50px !important;
}
.contact {
  background: #3498db !important;
}
.icons {
  text-decoration: none !important;
}

.about_jumbo {
  background-color: #1a75bc !important;
  opacity: 0.8 !important;
}
/* .card_abt, */
.card_abt img {
  height: 400px !important;
  padding: 0px !important;
}

.jumbo_card {
  margin-top: -150px !important;
}
.dash {
  width: 40px !important;
  height: 5px !important;
  background: #3498db !important;
}
.jumbo_text {
  font-size: 28px !important;
  color: #000;
}
.about_img img {
  width: 570px !important;
  height: 441px !important;
}
.card_shadow {
  box-shadow: 0px 0px 40px 0px rgba(36, 42, 86, 0.15);
}
.blog_link {
  font-size: 24px !important;
  color: #000 !important;
}
/* start service card style */

.serviceHeading {
  text-align: center;
  padding: 100px 0px 50px 0px;
  font-weight: bolder;
}
.card {
  background-color: #f3f9fe;
  margin: 10px;
  padding: 40px;
  border: 1px solid #f3f9fe;
  box-shadow: -7px 12px 25px #e6e6e6;
  border-radius: 10px;
}
.card:hover {
  background-color: #f3f9fe;
  transition-duration: 0.3s;
  box-shadow: 0px;
}
.serviceImage {
  height: 100px;
  width: 100px;
}
.serviceTitle {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
/* end service card style */

/* strat service brand style */
.brandrow {
  border-top: 1px solid #f5f3f0;
  border-bottom: 1px solid #f5f3f0;
  margin: 50px 0px;
  text-align: center;
  padding: 0px 185px;
}
.brand_container {
  margin: 20px;
}
.brandImage {
  height: 70px;
  width: 100px;
}
/* end service brand style */

/* start contact style */

.contact_container {
  margin: 100px 0px;
}
.box {
  box-sizing: border-box !important;
  padding: 0px 200px;
}
/* end contact map style */

/* start contact map style */

.mapouter {
  position: relative;
  text-align: right;
  height: 600px;
  width: 300px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 600px;
  width: 300px;
}

/* end contact map style */

/* start contact form */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  height: 600px;
  width: 100%;
}

.container_form {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.container_form:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  left: 0;
  top: 0;
  /* background: url("img/bg.jpg") no-repeat center; */
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
.right {
  padding: 25px 40px;
}
.field {
  /* width: 100%; */
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.form_btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.form_btn:hover {
  background-color: #27ae60;
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}
/* end contact form */
/* start account container */
.signContainer {
  padding-left: 130px;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* end account container */

/* start left container */

.welcome_heading {
  font-weight: bolder;
  font-size: 40px;
  font-family: "poppins";
}
/* end left container */

/* start of signIn and SignUp form */

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 400px;
  background: #fdfdfd;
}
.form .head {
  width: 100%;
  height: 55px;
  display: flex;
}
.form .head > div {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: 15px;
}
.form .head.signup > div:nth-child(1),
.form .head > div:nth-child(2) {
  background: #eee;
}
.form .head.signup > div:nth-child(2) {
  background: transparent !important;
}

.form .body {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.form .body > div {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}
.form .body > div.login {
  left: 0%;
}
.form .body > div.signup {
  left: 100%;
}
.form .body.active > div.login {
  left: -100%;
}
.form .body.active > div.signup {
  left: 0%;
}
.form .body .form-row {
  border-top: 1px solid #ccc;
}
.form .body .form-row label {
  display: block;
  padding: 12px 10px 0px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.form .body .form-row input {
  width: 100%;
  border: none;
  outline: none;
  height: 32px;
  text-indent: 10px;
  font-size: 14px;
}
.form .body .form-row button {
  width: 100%;
  border: none;
  outline: none;
  height: 45px;
  background: #3399ff;
  text-transform: uppercase;
  color: #fcfcfc;
  font-size: 16px;
  cursor: pointer;
}
.form .body .signup .form-row button {
  background: #0f2d41;
}
.form .body .rem-row {
  padding: 10px;
  border-top: 1px solid #ccc;
  line-height: 30px;
}
.form .body .rem-row > input {
  width: 17px;
  height: 17px;
  border: 1px solid #999;
  border-radius: 0px;
  position: relative;
  top: 3px;
}
.form .body .rem-row > label {
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.form .body .row {
  text-align: center;
  padding: 8px 0px;
}
.form .body .row span {
  font-size: 14px;
  position: relative;
  color: #222;
  top: 5px;
  font-weight: 600;
}
.form .body .footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  border-top: 1px solid #ccc;
}
.form .body .footer > div.social-form {
  float: left;
  padding-left: 50px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 2%;
  color: #fcfcfc;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}
.form .body .footer i {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.form .body .footer .fb {
  background: #3b5998;
}
.form .body .footer .google {
  background: tomato;
}
/* end of signIn and SignUp form */

@media (max-width: 816px) {
  .img-fluid {
    width: 300px !important;
    height: 300px !important;
  }
  .home_text {
    margin-top: -30px !important;
  }
  .home_text > h2 {
    font-size: 14px !important;
  }
  .nav_bg {
    display: block ruby !important;
  }
}

@media (max-width: 430px) {
  .container-fluid img {
    width: 50px !important;
    height: 50px !important;
  }
  .navbar-brand,
  h1 {
    font-size: 24px !important;
  }
  .dropdown {
    display: contents !important;
  }
  /* .nav_bg {
    font-size: 55px !important;
  } */
  .contact_us h2 {
    font-size: 20px !important;
  }
  .contact_us {
    display: -webkit-box;
  }
  .dropdown-btn {
    float: right !important;
  }
  .row {
    display: flex !important;
  }
  .nav_bg {
    justify-content: space-around;
  }
  .nav_bg .btn {
    padding: 5px !important;
    width: 100px !important;
    height: 30px !important;
    font-size: 12px !important;
  }
  .home_img img {
    width: 400px !important;
    height: 300px !important;
  }
  .navbar-brand {
    margin-left: 40px !important;
    margin-right: 80px !important;
  }
}
@media (max-width: 380px) {
  .navbar-brand {
    margin-left: 20px !important;
    margin-right: 60px !important;
  }
}
